.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    margin: 16px auto;
    background-color: rgb(243, 243, 115);
    width: 720px;
    height: 900px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    width: 680px;
    height: 100px;
    background-color: rgb(223, 37, 37);
    box-sizing: border-box;
}

.main-container {
    display: flex;
    width: 680px;
    background-color: rgb(133, 245, 118);
    box-sizing: border-box;
}

.aside {
    width: 200px;
    height: 100px;
    background-color: rgb(108, 208, 226);
    box-sizing: border-box;
}

.section {
    width: 480px;
    height: 100px;
    background-color: rgb(190, 68, 190);
    box-sizing: border-box;
}

.footer {
    width: 680px;
    height: 100px;
    background-color: rgb(49, 49, 11);
    box-sizing: border-box;
}